# Arquivos de ambiente
.env
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Configs do editor
.vscode/
.idea/

# Arquivos temporários
*.temp
*.tmp

# Jupyter
.ipynb_checkpoints/

# Distribuições
build/
dist/
*.egg-info/

# Banco de dados local (se usar SQLite)
*.sqlite3
*.db